@import "tailwindcss";


@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1300px;
  --font-poppins: "Poppins", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --shadow-box: 0 0 7px rgba(0, 0, 0, 0.25);
}

.container{
    margin: auto;
}
.navList li{
  cursor: pointer;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}